<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">C_Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/product/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link">{{isLoggedIn ? 'Add Product' : 'Login'}} </a>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>