<div class="row d-flex justify-content-center">
	<div class="col-md-6">
		<div *ngIf="errMsg" class="alert alert-danger">{{errMsg}}</div>
		<form [formGroup]="loginForm" (ngSubmit)="loginData()" >
			
			<div class="form-group col-md-8">
				<label>Email</label>
				<input type="text"class="form-control" formControlName="email">
				<div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="alert alert-danger">
					<div *ngIf="loginForm.controls.email.errors.required">
						Email is required
					</div>
				</div>
			</div>
			<div class="form-group col-md-8">
				<label>Password</label>
				<input type="password" class="form-control" formControlName="password">
				<div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" class="alert alert-danger">
					<div *ngIf="loginForm.controls.password">
						Password is required
					</div>
				</div>
			</div>
			<div class="text-center">
				<span>
					<input type="submit" class="btn btn-success" value="Login" [disabled]="loginForm.invalid">
				</span>
				<span>
					<p>NewUser can <a routerLink="/register">Register</a> here</p>
				</span>
			</div>
		</form>
	</div>
</div>